In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [32]:
# - 1 Loading Data. Source: https://archive.ics.uci.edu/dataset/360/air+quality
aiq_data = pd.read_csv('air+quality_ds/AirQualityUCI.csv', delimiter=';')
# Loading data info from the source website
data_info_raw = pd.read_html('https://archive.ics.uci.edu/dataset/360/air+quality')[0]
# - Backup
aiq_data_bk = aiq_data.copy()

# - First look
aiq_data.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN

In [33]:
#combine the Date and Time column to a single datetime column removing information about minutes and seconds
# The current dataframe has the format: 'day/month/year' for the Date column and 'hour:minute:second' for the Time column
# Combine the 'Date' and 'Time' columns into a single datetime column
aiq_data['DateTime'] = pd.to_datetime(aiq_data['Date'] + ' ' + aiq_data['Time'], format='%d/%m/%Y %H.%M.%S')
# Drop the 'Date' and 'Time' columns
aiq_data.drop(columns=['Date', 'Time'], inplace=True)
# bring the new DateTime column to the first position
aiq_data = aiq_data[['DateTime'] + [col for col in aiq_data.columns if col != 'DateTime']]

In [34]:
# a quick look to the df
aiq_data.head(30)

,DateTime,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,2004-03-10 18:00:00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,2004-03-10 19:00:00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2,2004-03-10 20:00:00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,2004-03-10 21:00:00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,2004-03-10 22:00:00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN
5,2004-03-10 23:00:00,"1,2",1197.0,38.0,"4,7",750.0,89.0,1337.0,96.0,1393.0,949.0,"11,2","59,2","0,7848",NaN,NaN
6,2004-03-11 00:00:00,"1,2",1185.0,31.0,"3,6",690.0,62.0,1462.0,77.0,1333.0,733.0,"11,3","56,8","0,7603",NaN,NaN
7,2004-03-11 01:00:00,1,1136.0,31.0,"3,3",672.0,62.0,1453.0,76.0,1333.0,730.0,"10,7","60,0","0,7702",NaN,NaN
8,2004-03-11 02:00:00,"0,9",1094.0,24.0,"2,3",609.0,45.0,1579.0,60.0,1276.0,620.0,"10,7","59,7","0,7648",NaN,NaN
9,2004-03-11 03:00:00,"0,6",1010.0,19.0,"1,7",561.0,-200.0,1705.0,-200.0,1235.0,501.0,"10,3","60,2","0,7517",NaN,NaN
10,2004-03-11 04:00:00,-200,1011.0,14.0,"1,3",527.0,21.0,1818.0,34.0,1197.0,445.0,"10,1","60,5","0,7465",NaN,NaN
11,2004-03-11 05:00:00,"0,7",1066.0,8.0,"1,1",512.0,16.0,1918.0,28.0,1182.0,422.0,"11,0","56,2","0,7366",NaN,NaN
12,2004-03-11 06:00:00,"0,7",1052.0,16.0,"1,6",553.0,34.0,1738.0,48.0,1221.0,472.0,"10,5","58,1","0,7353",NaN,NaN
13,2004-03-11 07:00:00,"1,1",1144.0,29.0,"3,2",667.0,98.0,1490.0,82.0,1339.0,730.0,"10,2","59,6","0,7417",NaN,NaN
14,2004-03-11 08:00:00,2,1333.0,64.0,"8,0",900.0,174.0,1136.0,112.0,1517.0,1102.0,"10,8","57,4","0,7408",NaN,NaN
15,2004-03-11 09:00:00,"2,2",1351.0,87.0,"9,5",960.0,129.0,1079.0,101.0,1583.0,1028.0,"10,5","60,6","0,7691",NaN,NaN
16,2004-03-11 10:00:00,"1,7",1233.0,77.0,"6,3",827.0,112.0,1218.0,98.0,1446.0,860.0,"10,8","58,4","0,7552",NaN,NaN
17,2004-03-11 11:00:00,"1,5",1179.0,43.0,"5,0",762.0,95.0,1328.0,92.0,1362.0,671.0,"10,5","57,9","0,7352",NaN,NaN
18,2004-03-11 12:00:00,"1,6",1236.0,61.0,"5,2",774.0,104.0,1301.0,95.0,1401.0,664.0,"9,5","66,8","0,7951",NaN,NaN
19,2004-03-11 13:00:00,"1,9",1286.0,63.0,"7,3",869.0,146.0,1162.0,112.0,1537.0,799.0,"8,3","76,4","0,8393",NaN,NaN
20,2004-03-11 14:00:00,"2,9",1371.0,164.0,"11,5",1034.0,207.0,983.0,128.0,1730.0,1037.0,"8,0","81,1","0,8736",NaN,NaN
21,2004-03-11 15:00:00,"2,2",1310.0,79.0,"8,8",933.0,184.0,1082.0,126.0,1647.0,946.0,"8,3","79,8","0,8778",NaN,NaN
22,2004-03-11 16:00:00,"2,2",1292.0,95.0,"8,3",912.0,193.0,1103.0,131.0,1591.0,957.0,"9,7","71,2","0,8569",NaN,NaN
23,2004-03-11 17:00:00,"2,9",1383.0,150.0,"11,2",1020.0,243.0,1008.0,135.0,1719.0,1104.0,"9,8","67,6","0,8185",NaN,NaN
24,2004-03-11 18:00:00,"4,8",1581.0,307.0,"20,8",1319.0,281.0,799.0,151.0,2083.0,1409.0,"10,3","64,2","0,8065",NaN,NaN
25,2004-03-11 19:00:00,"6,9",1776.0,461.0,"27,4",1488.0,383.0,702.0,172.0,2333.0,1704.0,"9,7","69,3","0,8319",NaN,NaN
26,2004-03-11 20:00:00,"6,1",1640.0,401.0,"24,0",1404.0,351.0,743.0,165.0,2191.0,1654.0,"9,6","67,8","0,8133",NaN,NaN
27,2004-03-11 21:00:00,"3,9",1313.0,197.0,"12,8",1076.0,240.0,957.0,136.0,1707.0,1285.0,"9,1","64,0","0,7419",NaN,NaN
28,2004-03-11 22:00:00,"1,5",965.0,61.0,"4,7",749.0,94.0,1325.0,85.0,1333.0,821.0,"8,2","63,4","0,6905",NaN,NaN
29,2004-03-11 23:00:00,1,913.0,26.0,"2,6",629.0,47.0,1565.0,53.0,1252.0,552.0,"8,2","60,8","0,6657",NaN,NaN